@model DeleteUserViewModel

@{
    ViewBag.Title = "Confirmar eliminación";
}

<div class="row">
    <div class="col-12 col-md-4 offset-4">
        <div class="card">
            <div class="card-header text-center text-light bg-danger">
                <h5 class="card-title">
                    ¿Esta seguro de que desea eliminar el agente @($"{Model.FirstName} {Model.LastName}")?
                </h5>
            </div>
            <div class="card-body">
                <form asp-controller="Agent" asp-action="DeletePost" method="post">
                    <input type="hidden" asp-for="UserId" value="@Model.UserId"/>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-danger me-2">Aceptar</button>
                        <a asp-controller="Agent" asp-action="Index" class="btn btn-outline-warning">Cancelar</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
